
<B_v>
	<div class='liste list-condensed'>
	<ul class='liste-items'>
		<li class='item-header'>Langue principale</li>
<BOUCLE_v(VORTOJ){fusion lang}{par lang}>
		<li class='item'>[(#SELF|parametre_url{langue,#LANG}
			|lien_ou_expose{[(#LANG|traduire_nom_langue)],[(#ENV{langue,fr}|=={#LANG})],ajax})]
		</li>
</BOUCLE_v>
	</ul>
	</div>
</B_v>


<B_m>
	<div class='liste list-condensed'>
	<ul class='liste-items'>
		<li class='item-header'>Catégories</li>
		<li class='item'>[(#SELF|parametre_url{mot,''}
			|lien_ou_expose{Toutes,[(#ENV{mot}|non)],ajax})]
		</li>
		<li class='item'>[(#SELF|parametre_url{mot,tout}
			|lien_ou_expose{'Toutes, triées par catégories',[(#ENV{mot}|=={tout}|oui)],ajax})]
		</li>
<BOUCLE_m(MOTS){fusion id_mot}{par titre}{id_vorto>0}>
		<li class='item'>[(#SELF|parametre_url{mot,#ID_MOT}
			|lien_ou_expose{#TITRE,[(#ENV{mot}|=={#ID_MOT})],ajax})]
		</li>
</BOUCLE_m>
	</ul>
	</div>
</B_v>

