
#SET{categories,#LISTE}
<BOUCLE_m(MOTS){fusion id_mot}{par titre}{id_vorto>0}>
		[(#SET{categories,#GET{categories}|push{#ID_MOT}})]
</BOUCLE_m>


<B_cats>
	<h2>Tout le lexique, trié par catégorie</h2>
<BOUCLE_cats(MOTS){id_mot IN #GET{categories}}{si #ENV{mot}|=={tout}}>
	<h3>#TITRE</h3>
	[(#INCLURE{fond=prive/objets/liste/vortoj_langues,
		env, ajax, id_mot=#ID_MOT, class_table=table-condensed})]
</BOUCLE_cats>
	<BOUCLE_cat(MOTS){id_mot=#ENV{mot}}{si #ENV{mot}}>
		<h2>Catégorie : #TITRE</h2>
		[(#INCLURE{fond=prive/objets/liste/vortoj_langues,
			env, ajax, id_mot=#ID_MOT, class_table=table-condensed})]
	</BOUCLE_cat>
		<h2>Tout le lexique</h2>
		[(#INCLURE{fond=prive/objets/liste/vortoj_langues,
			env, ajax, class_table=table-condensed})]
	<//B_cat>
<//B_cats>
