[(#REM) Fil d'Ariane ]
<ul class="breadcrumb">
	<li><a href="#URL_SITE_SPIP/"><:accueil_site:></a> <span class="divider"> &gt; </span></li>
	<li class="active">Lexique, Dictionnaire, Traductions…</li>
</ul>
