<BOUCLE_vorto(VORTOJ){id_vorto=#ENV{id}}>
<div class='infos'>
[(#SET{texte_objet,<:vorto:titre_vorto:>})]
<div class='numero'><:titre_cadre_numero_objet{objet=#GET{texte_objet}}:><p>#ID_VORTO</p></div>

</div>
</BOUCLE_vorto>