<BOUCLE_vorto(VORTOJ){id_vorto}>

[<div class="champ contenu_titre[ (#TITRE*|strlen|?{'',vide})]">
	<label><:vorto:label_titre:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{titre} titre'>(#TITRE)</span>
</div>]

[<div class="champ contenu_avant[ (#AVANT*|strlen|?{'',vide})]">
	<label><:vorto:label_avant:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{avant} avant'>(#AVANT)</span>
</div>]

[<div class="champ contenu_definition[ (#DEFINITION*|strlen|?{'',vide})]">
	<label><:vorto:label_definition:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{definition} definition'>(#DEFINITION)</span>
</div>]


</BOUCLE_vorto>
