<div class='formulaire_spip formulaire_editer formulaire_#FORM formulaire_#FORM-#ENV{id_vorto,nouveau}'>
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	[(#ENV{editable})
	<form method='post' action='#ENV{action}'><div>
		#ACTION_FORMULAIRE{#ENV{action}}
		<input type='hidden' name='id_vorto' value='#ENV{id_vorto}' />
		<ul>

			[(#SAISIE{input, titre, obligatoire=oui,
				label=<:vorto:label_titre:>})]

			[(#SAISIE{input, avant,
				label=<:vorto:label_avant:>,
				explication=<:vorto:explication_avant:> })]

			[(#SAISIE{textarea, definition,
				label=<:vorto:label_definition:>,
				li_class=haut, class=inserer_barre_edition, rows=4})]

		</ul>
		[(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
		<!--extra-->
		<p class="boutons"><input type='submit' class='submit' value='<:bouton_enregistrer:>' /></p>
	</div></form>
	]
</div>
