[(#SET{defaut_tri,#ARRAY{
	titre,1, 
	id_vorto,1,
	points,-1
}})]<B_liste_vortoj>
#ANCRE_PAGINATION
<div class="liste-objets vortoj">
<table class='spip liste'>
	[<caption><strong class="caption">(#ENV*{titre,#GRAND_TOTAL|singulier_ou_pluriel{vorto:info_1_vorto,vorto:info_nb_vortoj}})</strong></caption>]
	<thead>
		<tr class='first_row'>
			<th class='picto' scope='col'></th>
			<th class='titre' scope='col'>[(#TRI{titre,<:vorto:label_titre:>,ajax})]</th>
			<th class='lang' scope='col'>[(#TRI{lang,<:vorto:label_lang:>,ajax})]</th>
			<th class='id' scope='col'>[(#TRI{id_vorto,<:info_numero_abbreviation:>,ajax})]</th>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_liste_vortoj(VORTOJ){lang == #ENV{langue,.*}}{id_mot?}{id_auteur?}{where?}{recherche?}{tri #ENV{par,num titre},#GET{defaut_tri}}{par titre}{pagination #ENV{nb,10}}>
		<tr class='[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})]'>
			<td class='picto'>[(#CHEMIN_IMAGE{vorto-16.png}|balise_img)]</td>
			<td class='titre principale'>[(#LOGO_VORTO|image_reduire{20,26})]
				<a href="[(#ID_VORTO|generer_url_entite{vorto})]"
					title="<:info_numero_abbreviation|attribut_html:> #ID_VORTO">
						[<abbr title='(#AVANT) #TITRE'>]#TITRE[(#AVANT|?{</abbr>})]
				</a>
			</td>
			<td class='lang'>[(#LANG|traduire_nom_langue)]</td>
			<td class='id'>[(#AUTORISER{modifier,vorto,#ID_VORTO}|?{
				<a href="[(#URL_ECRIRE{vorto_edit,id_vorto=#ID_VORTO})]">#ID_VORTO</a>,
				#ID_VORTO
			})]</td>
		</tr>
	</BOUCLE_liste_vortoj>
	</tbody>
</table>
[<p class='pagination'>(#PAGINATION{prive})</p>]
</div>
</B_liste_vortoj>[
<div class="liste-objets vortoj caption-wrap"><strong class="caption">(#ENV*{sinon,''})</strong></div>
]<//B_liste_vortoj>
