[(#SET{defaut_tri,#ARRAY{
	titre,1, 
	id_vorto,1,
	points,-1
}})]
#SET{langues,#LISTE}
<BOUCLE_liste_langues_1(VORTOJ){fusion lang}{par lang}{lang != #ENV{langue,fr}}>
[(#SET{langues,#GET{langues}|push{#LANG}})]
</BOUCLE_liste_langues_1>

<B_vortoj>
<div class="liste-objets vortoj">
<table class='spip liste[ (#ENV{class_table})]'>
	[<caption><strong class="caption">(#ENV*{titre})</strong></caption>]
	<thead>
		<tr class='first_row'>
			<th scope='col'>[(#ENV{langue,fr}|traduire_nom_langue)]</th>
			<BOUCLE_liste_langues_2(DATA){source table,#GET{langues}}>
				<th scope='col'>[(#VALEUR|traduire_nom_langue)]</th>
			</BOUCLE_liste_langues_2>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_vortoj(VORTOJ){lang == #ENV{langue,fr}}{id_mot?}{id_auteur?}{where?}{recherche?}{tri #ENV{par,num titre},#GET{defaut_tri}}{par titre}>
		<tr>
			<td class='titre principale #EDIT{titre}'>
				[<abbr title='(#AVANT) #TITRE'>]#TITRE[(#AVANT|?{</abbr>})]
			</td>
			<BOUCLE_langues_1(DATA){source table,#GET{langues}}>
				<BOUCLE_vortoj_trad_1(VORTOJ){traduction}{lang=#VALEUR}>
					<td class='titre #EDIT{titre}'>
						[<abbr title='(#AVANT) #TITRE'>]#TITRE[(#AVANT|?{</abbr>})]
					</td>
				</BOUCLE_vortoj_trad_1>
					<td class='titre vide'>-</td>
				<//B_vortoj_trad_1>
			</BOUCLE_langues_1>
		</tr>
	</BOUCLE_vortoj>


	<BOUCLE_netradukitaj_vortoj_1(VORTOJ){!traductions #ENV{langue,fr}}{id_mot?}{id_auteur?}{where?}{recherche?}{tri #ENV{par,num titre},#GET{defaut_tri}}{par titre}>
		<tr>
			<td class='titre principale'>-</td>
			<BOUCLE_langues_2(DATA){source table,#GET{langues}}>
				<BOUCLE_vortoj_trad_2(VORTOJ){traduction}{lang=#VALEUR}>
					<td class='titre #EDIT{titre}'>
						[<abbr title='(#AVANT) #TITRE'>]#TITRE[(#AVANT|?{</abbr>})]
					</td>
				</BOUCLE_vortoj_trad_2>
					<td class='titre vide'>-</td>
				<//B_vortoj_trad_2>
			</BOUCLE_langues_2>
		</tr>
	</BOUCLE_netradukitaj_vortoj_1>


	</tbody>
</table>
</div>

</B_vortoj>

	<B_netradukitaj_vortoj_2>
		<div class="liste-objets vortoj">
		<table class='spip liste[ (#ENV{class_table})]'>
			[<caption><strong class="caption">(#ENV*{titre})</strong></caption>]
			<thead>
				<tr class='first_row'>
					<th scope='col'>[(#ENV{langue,fr}|traduire_nom_langue)]</th>
					<BOUCLE_liste_langues_3(DATA){source table,#GET{langues}}>
						<th scope='col'>[(#VALEUR|traduire_nom_langue)]</th>
					</BOUCLE_liste_langues_3>
				</tr>
			</thead>
			<tbody>
			<BOUCLE_netradukitaj_vortoj_2(VORTOJ){!traductions #ENV{langue,fr}}{id_mot?}{id_auteur?}{where?}{recherche?}{tri #ENV{par,num titre},#GET{defaut_tri}}{par titre}>
				<tr>
					<td class='titre principale'>-</td>
					<BOUCLE_langues_3(DATA){source table,#GET{langues}}>
						<BOUCLE_vortoj_trad_3(VORTOJ){traduction}{lang=#VALEUR}>
							<td class='titre #EDIT{titre}'>
								[<abbr title='(#AVANT) #TITRE'>]#TITRE[(#AVANT|?{</abbr>})]
							</td>
						</BOUCLE_vortoj_trad_3>
							<td class='titre vide'>-</td>
						<//B_vortoj_trad_3>
					</BOUCLE_langues_3>
				</tr>
			</BOUCLE_netradukitaj_vortoj_2>
		</table>
		</div>
	</B_netradukitaj_vortoj_2>


<//B_vortoj>
