[(#AUTORISER{voir,vorto,#ID_VORTO}|sinon_interdire_acces)]
<BOUCLE_vorto(VORTOJ){id_vorto}{si #ENV{exec}|=={vorto}}>
[(#BOITE_OUVRIR{[
	[(#AUTORISER{modifier,vorto,#ID_VORTO})
		[(#ID_VORTO|afficher_qui_edite{vorto}|non)
			[(#URL_ECRIRE{vorto_edit,id_vorto=#ID_VORTO}|icone_verticale{<:vorto:icone_modifier_vorto:>,vorto,edit,right ajax preload})]
		]
		[(#ID_VORTO|afficher_qui_edite{vorto}|oui)
			[(#URL_ECRIRE{vorto_edit,id_vorto=#ID_VORTO}|icone_verticale{#ID_VORTO|afficher_qui_edite{vorto},warning-24,'',right edition_deja ajax preload})]
		]
	]

	<h1>[(#RANG). ](#TITRE|sinon{<:info_sans_titre:>})[(#CHEMIN_IMAGE{vorto-24.png}|balise_img{vorto,cadre-icone})]</h1>

],simple fiche_objet})]

<div class="ajax">
	#FORMULAIRE_DATER{vorto,#ID_VORTO}
</div>

<!--affiche_milieu-->

<div id="wysiwyg">
<INCLURE{fond=prive/objets/contenu/vorto,id=#ID_VORTO,id_vorto=#ID_VORTO,virtuel=oui,ajax=wysiwyg,wysiwyg=1}>
</div>

<div class="nettoyeur"></div>

[(#AUTORISER{modifier,vorto,#ID_VORTO})
	[(#ID_VORTO|afficher_qui_edite{vorto}|non)
		[(#URL_ECRIRE{vorto_edit,id_vorto=#ID_VORTO}|icone_verticale{<:vorto:icone_modifier_vorto:>,vorto,edit,right ajax preload})]
	]
	[(#ID_VORTO|afficher_qui_edite{vorto}|oui)
		[(#URL_ECRIRE{vorto_edit,id_vorto=#ID_VORTO}|icone_verticale{#ID_VORTO|afficher_qui_edite{vorto},warning-24,'',right edition_deja ajax preload})]
	]
]

#PIPELINE{afficher_complement_objet,#ARRAY{args,#ARRAY{type,vorto,id,#ID_VORTO},data,'<div class="nettoyeur"></div>'}}

#BOITE_FERMER

[(#AUTORISER{supprimer,vorto,#ID_VORTO}|oui)
	[(#URL_ACTION_AUTEUR{supprimer_vorto,#ID_VORTO,#URL_ECRIRE{vortoj}}|icone_horizontale{<:vorto:icone_supprimer_vorto:>,vorto,del})]
]


[(#EVAL{_AJAX}|oui)
	<script type="text/javascript">/*<!\\[CDATA\\[*/reloadExecPage('#ENV{exec}','#navigation,#chemin');/*\\]\\]>*/</script>
]
</BOUCLE_vorto>
[(#ENV**{exec}|=={vorto_edit}|?{#INCLURE{fond=prive/squelettes/contenu/vorto_edit,redirect='',env,retourajax=oui},#REM|sinon_interdire_acces})]
<//B_vorto>
