
[(#BOITE_OUVRIR{<:vortaro:restreindre_langue:>, simple})]

<B_v>
	<div class='liste'>
	<ul class='liste-items'>
		<li class='item'>[(#SELF|parametre_url{langue,''}
			|lien_ou_expose{<:vortaro:tout_afficher:>,[(#ENV{langue}|non)]})]
		</li>
<BOUCLE_v(VORTOJ){fusion lang}{par lang}>
		<li class='item'>[(#SELF|parametre_url{langue,#LANG}
			|lien_ou_expose{[(#LANG|traduire_nom_langue)],[(#ENV{langue}|=={#LANG})]})]
		</li>
</BOUCLE_v>
	</ul>
	</div>
</B_v>

#BOITE_FERMER
